.complete-button  {
    background: linear-gradient(45deg, #0aa20ff6, #81c784); 
    color: white; 
    padding: 2px 5px; 
    border: none; 
    margin: 2px;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.complete-button:hover {
    background: rgb(66, 255, 48); 
    transform: translateY(-2px); 
}

.complete-button:active {
    transform: translateY(0); 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}